@model IEnumerable<DienmayQuyetTien.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Bảng Sản Phẩm</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Thêm")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaGoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaGop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiaGop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Sửa", new { id = item.id }) |
            @Html.ActionLink("Chi tiết mặt hàng", "Chi tiết mặt hàng", new { id = item.id }) |
            @Html.ActionLink("Xóa", "Xóa", new { id = item.id })
        </td>
    </tr>
}

</table>
